h1 {
  color: #66BFBF;
  width: 100%;
  /*same thing as text-align:center or margin: 0 auto 0 auto */
  margin: 50px auto;
  font-family: 'Sacramento', cursive;
  /*
  *100% = 16px = 1em
  * 1.)% and em are Dynamic scale fonts size, but pixel is static scale fonts size. In setting of
  * web browser, eventhough, you have changed font size. It'll not affect header type with pixels.
  * 2.) *** % and em are inherited type. Inherited means it will stack up with parent fontsize
  * ex. if body{font-size : 2em} -> h1{font-size:4em} -> The final result of h1 fonts
  * will be 6em(2+4). While pixesl is not inherited type.
  * 3.) IF WE REALLY WANT TO USE EM without parent fontsize : USE rem ex.5rem
  */
  font-size: 5.62rem;


}
h2{
  color: #66BFBF;
  font-size: 1.7rem;
  margin-top : 0;
  font-family: 'Press Start 2P', cursive;
}

h3{
  color :#11999E;
}

body{
  margin: 0;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Audiowide', cursive;
}
a{
  color : #11999E;
}

/***************************ID selectors******************/
#myimage{
  width: 200px;
  height :200px;
  padding-bottom: 30px;
}
#testimage{
  width: 350px;
  height :300px;
}

/***************************Class selectors******************/
.fontweight{
  font-weight: bold;
}
.skillimage{
  width: 400px;
  height :400px;
}

.pro {
  text-decoration:underline;
}
.top-container{
    background-color: #cff6cf;
    position: relative;
    padding-top: 60px;
}
.middle-container{
  padding-top: 30px;

}
.bottom-container{

}
.top-cloud{
    position: relative;

    left:200px;
}
.bottom-cloud{
    position: absolute;
}
